html, body {
	min-height: 100%;
}


body {
	background: linear-gradient(30deg, royalblue, violet);
	font-family: montserrat, arial, sans-serif;
}

.container {
	width: 780px;
	position: relative;
	margin: 50px auto;
}

.card {
	position: relative;
	display: inline-block;
	width: 350px;
	height: 100px;
	background-color: white;
	margin: 20px;
	margin-left: 15px;
	text-align: center;
	overflow: hidden;
	border-radius: 50px 50px 50px 50px;
}

.card img {
	position: absolute;
	border-radius: 50%;
	left: 0;
	top: 0;
	cursor: pointer;
	z-index: 9;
}

.card span {
	line-height: 24px;
	display: block;
	margin-left: 50px;
}

.card span.nama {
	margin-top: 28px;
	font-weight: bold;
}

.card span.telp {
	color: rgba(0,0,0,.45);
}

.card span.close {
	position: absolute;
	right: 30px;
	top: 40px;
	font-weight: bold;
	color: rgba(0,0,0,.45);
	cursor: pointer;
	font-size: 18px;
}

.card span.close:hover {
	color: red;
}